*, ::after, ::before {
    box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
	height: 100vh;
	width: 100%;
	background-color: yellow;
	display: flex;
	flex-direction: column;
}

header {
	min-height: 80px;
	background-color: teal;
	text-align: center;
	color: white;
}

main {
	background-color: wheat;
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	padding: 0 1em;
	padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.content h1 {
	text-align: center;
}

footer {
	flex: 1 0 1;
	min-height: 80px;
	background-color: teal;
	text-align: center;
	color: white;
	padding: 1em;
}

footer .footer-content {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

header h1,
footer h1 {
	margin: 0;
}
